body {
    background-color: lightgray;
    background-image: url("../images/background-img.jpg");
    background-size: cover;
}

p {
    font-weight: bold;
}

.text-center {
    text-align: center;
}
